<section class="artistinfo">
	<div class="artist cf" ng-model="artists">
		<a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
		<a href="#/details/{{nextItem}}" class="btn btn-left">&gt;</a>
		<h1>{{artists[whichArtist].name}}</h1>
		<div class="info">
			<h3>{{artists[whichArtist].reknown}}</h3>
			<img src="images/{{artists[whichArtist].shortname}}_tn.jpg" alf="Photo of {{artists[whichArtist].name}}"> 

			<div class="bio">{{artists[whichArtist].bio}}</div>
		</div>
	</div>

	<a href="/#list">Back to search results</a>
</section>